@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
body{
    margin: 0% 0.1%;
    background-color: rgb(246,246,246);
}
#rightmenu{
    position: relative;
    display: inline-block;
    margin-left: 80%;
}
#dropdown{
    display: none;
    position: absolute;
    z-index: 5;
    margin-left: 65%;
    margin-top: -1%;
    font-size: 20px;
}
#dropdown a:hover{
    transition: 1s;
    padding: 2px;
    color: tomato;
}
#rightmenu:hover #dropdown{
    display: block;
}
.user{
    text-align: right;
    font-size: 22px;
    font-family: 'Merienda', cursive;
    font-weight: bold;
    color: goldenrod;
    margin-top: 10px;
    cursor: pointer;
}
.user:hover{
    color: tomato;
    padding: 1px;
    transition: 1s;
}
#navbar{
    /* border: 1px solid black; */
    display: flex;
    /* justify-content: space-between; */
    background-color: rgb(246,246,246);
}
#logo{
    width: 25%;
    /* border: 1px solid goldenrod; */
    display: flex;
    justify-content: center;
}
#logo a{
    text-align: center;
}
#logo a img{
    /* border: 1px solid red; */
    width: 75%;

    cursor: pointer;
}
#searchbar{
    width: 48%;
    /* border:1px solid teal; */
    display: flex;
    margin-top: -1%;
    /* justify-content: space-between; */
}
#searchbar input{
    width: 85%;
    height: 35%;
    margin-top: 5%;
    border: none;
    background-color: rgb(246,246,246);
    color: black;
    font-weight: bold;
    border-bottom:1px solid grey;
    font-size: 25px;
    font-family: 'Merienda', cursive;
}
#searchbar p{
    margin-top: 6%;
    font-size: 2rem;
    color: grey;
    margin-left: 1%;
    cursor: pointer;
}
#links{
    width: 45%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
}
#links p{
    font-size: 35px;
    margin-top: 4.5%;
    height: 20%;
    color: grey;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Licorice', cursive;
}
#links p:hover{
    background-color: black;
    transition: .5s;
    color: goldenrod;
    padding: 0% 2% 2% 2% ;
}